<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
">
    <bean id="mathCheat" class="com.seleniumexpress.diot.MathCheat" />
    <bean id="student" class="com.seleniumexpress.diot.Student">
        <property name="id" value="12" />
        <property name="mathCheat" ref="mathCheat" />
    </bean>
    <bean id="anotherStudent" class="com.seleniumexpress.diot.AnotherStudent">
        <property name="mathCheat" ref="mathCheat" />
    </bean>
</beans>