<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
">
    <bean id="missedcallAlert" class="com.sourav.assignment.MissedCallAlert" />
    <bean id="hellotune" class="com.sourav.assignment.HelloTune" />
    <bean id="data" class="com.sourav.assignment.Data" />
    <bean id="calling" class="com.sourav.assignment.Calling" />

    <bean id="airtel" class="com.sourav.assignment.Airtel">
        <property name="services" ref="calling" />
    </bean>
</beans>